h1 { 
	color: red;
}
body {
	background-color: rgba(0,0,255,0.3);
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}
p {
    font-family: "Arial", sans-serif;
}
ul {
	color: purple;
	font-family: "Times New Roman", times, serif;
	font-size: 20px;
}